Repository DXgovernance/dxvote, pull requests merged in 2022-03, with the labels that each got.

#686 Feature/update proposal page actions components
  src/components/Guilds/CreateProposalPage/ActionsBuilder/Action/index.tsx
  src/components/Guilds/CreateProposalPage/ActionsBuilder/ActionsBuilder.tsx
  src/components/Guilds/CreateProposalPage/ActionsBuilder/AddButton/index.tsx
  src/components/Guilds/CreateProposalPage/ActionsBuilder/Option/index.tsx
  src/components/Guilds/CreateProposalPage/ActionsBuilder/ProposalOptionTag/ProposalOptionTag.test.tsx
  src/components/Guilds/CreateProposalPage/ActionsBuilder/ProposalOptionTag/ProposalOptionTag.tsx
  src/components/Guilds/CreateProposalPage/ActionsBuilder/ProposalOptionTag/__snapshots__/ProposalOptionTag.test.tsx.snap
  src/components/Guilds/CreateProposalPage/ActionsBuilder/ProposalOptionTag/index.ts
  src/components/Guilds/CreateProposalPage/ActionsBuilder/index.ts
  src/components/Guilds/CreateProposalPage/ActionsBuilder/index.tsx
  src/components/Guilds/ProposalPage/ProposalActionsCard/ActionDetails.tsx
  src/components/Guilds/ProposalPage/ProposalActionsCard/ActionItem.tsx
  src/components/Guilds/ProposalPage/ProposalActionsCard/index.tsx
  src/components/Guilds/ProposalPage/ProposalVoteCard/index.tsx
  src/components/Guilds/SidebarCard/index.tsx
  src/components/Guilds/common/ProposalActionTag/ProposalActionTag.test.tsx
  src/components/Guilds/common/ProposalActionTag/ProposalActionTag.tsx
  src/components/Guilds/common/ProposalActionTag/__snapshots__/ProposalActionTag.test.tsx.snap
  src/components/Guilds/common/ProposalActionTag/index.ts
  src/pages/Guilds/CreateProposal.tsx
  src/pages/Guilds/Proposal.tsx
  src/theme/dark.json
Labels: Enhancement, UI/UX Improvements, Guilds

#691 Feature/guilds error pages
  package.json
  src/GuildsApp.tsx
  src/components/Guilds/Header/NetworkButton.tsx
  src/components/Guilds/ProposalTypes/index.tsx
  src/components/Guilds/Web3Modals/NetworkModal.tsx
  src/components/Guilds/common/Result/index.tsx
  src/contexts/Guilds/guildAvailability.tsx
  src/hooks/Guilds/ether-swr/ens/useENSPublicResolver.ts
  src/hooks/Guilds/web3/useNetworkSwitching.ts
  src/pages/Guilds/CreateProposal.tsx
  src/pages/Guilds/Guilds.tsx
  src/pages/Guilds/NotFound.tsx
  src/pages/Guilds/Proposal.tsx
  src/theme/dark.json
  src/types/types.d.ts
  yarn.lock
Labels: Enhancement, UI/UX Improvements, Guilds, Design

#700 fix: Increasing block tolerance to 5
  src/stores/BlockchainStore.ts
Labels: Bug

#684 Add Action Modal for the Actions Widget
  src/GuildsApp.tsx
  src/assets/images/circle.svg
  src/components/Guilds/ActionsModal/ExternalContractsModal.tsx
  src/components/Guilds/ActionsModal/MintRepModal.tsx
  src/components/Guilds/ActionsModal/index.tsx
  src/components/Guilds/CreateProposalPage/ActionsBuilder/AddButton/index.tsx
  src/components/Guilds/CreateProposalPage/ActionsBuilder/AssetDropdown.tsx
  src/components/Guilds/CreateProposalPage/ActionsBuilder/Option/index.tsx
  src/components/Guilds/CreateProposalPage/ActionsBuilder/TransfersAndMint.tsx
  src/components/Guilds/CreateProposalPage/ActionsBuilder/index.tsx
  src/components/Guilds/Web3Modals/NetworkModal.tsx
  src/components/Guilds/common/ChainIcons.tsx
  src/components/Guilds/common/DropdownMenu/index.tsx
  src/components/Guilds/common/Form/Input/Input.tsx
  src/components/Guilds/common/Form/NumericalInput.tsx
  src/components/Guilds/common/Modal/index.tsx
  src/components/Guilds/common/SVG/index.tsx
  src/contexts/Guilds/ActionsBuilder.tsx
  yarn.lock
Labels: Enhancement, Guilds

#717 fix: Changing gt check to boolean check to show approve button for st…
  src/components/Proposal/Stakes/index.tsx
Labels: Bug
