Repository DXgovernance/dxvote, pull requests merged in 2022-02, with the labels that each got.

#633 Feature/flag incorrect proposals
  src/pages/proposals/index.tsx
Labels: Enhancement, UI/UX Improvements

#632 Create a single context guilds provider #623
  src/GuildsApp.tsx
Labels: Bug, Guilds

#644 bugfix: Fix issue with ENS cache loading in production.
  src/stores/ConfigStore.ts
Labels: Bug

#661 fix: Reversing guild proposals to be new to old
  src/pages/Guilds/Guilds.tsx
Labels: Guilds

#638 Feature/vote function
  src/components/Guilds/ProposalPage/ProposalVoteCard/ProposalVotes.tsx
  src/components/Guilds/ProposalPage/ProposalVoteCard/index.tsx
  src/components/Guilds/common/VoteChart/index.tsx
  src/components/UserPage/VestingContractsSection/VestingContractsSection.tsx
  src/contracts/ERC20.json
  src/hooks/Guilds/contracts/useContract.ts
  src/hooks/Guilds/ether-swr/erc20/useERC20Info.ts
  src/hooks/Guilds/useVotes.ts
  src/theme/light.json
Labels: Enhancement, Guilds

#665 Feature/guild styling 658
  src/GuildsApp.tsx
  src/components/Guilds/AddressButton/index.tsx
  src/components/Guilds/Filter/FilterMenu.tsx
  src/components/Guilds/Filter/index.tsx
  src/components/Guilds/Header/NetworkButton.tsx
  src/components/Guilds/Header/WalletButton.tsx
  src/components/Guilds/Header/index.tsx
  src/components/Guilds/ProposalCard/ProposalCard.test.tsx
  src/components/Guilds/ProposalCard/index.tsx
  src/components/Guilds/ProposalPage/ProposalActionsCard/ActionItem.tsx
  src/components/Guilds/ProposalPage/ProposalActionsCard/index.tsx
  src/components/Guilds/ProposalPage/ProposalDescription/index.tsx
  src/components/Guilds/ProposalPage/ProposalInfoCard/index.tsx
  src/components/Guilds/ProposalPage/ProposalVoteCard/index.tsx
  src/components/Guilds/ProposalStatus/index.tsx
  src/components/Guilds/ProposalTypes/index.tsx
  src/components/Guilds/Sidebar/GuestActions.tsx
  src/components/Guilds/Sidebar/MemberActions.tsx
  src/components/Guilds/Sidebar/index.tsx
  src/components/Guilds/StakeTokensModal/index.tsx
  src/components/Guilds/Web3Modals/NetworkModal.tsx
  src/components/Guilds/Web3Modals/components/Option.tsx
  src/components/Guilds/common/Button/Button.tsx
  src/components/Guilds/common/Button/IconButton.tsx
  src/components/Guilds/common/Form/Input/Input.tsx
  src/components/Guilds/common/Loading/Loading.tsx
  src/components/Guilds/common/Modal/index.tsx
  src/pages/Guilds/Proposal.tsx
  src/theme/dark.json
  src/types/types.guilds.d.ts
  src/utils/tests.js
Labels: Enhancement, Guilds

#668 fix: Fetching titles on new proposals for cache
  src/services/CacheService.ts
Labels: Bug

#667 Bugfix/guilds UI tweaks and bugfixes
  src/GuildsApp.tsx
  src/components/Guilds/AddressButton/index.tsx
  src/components/Guilds/CreateProposalPage/SidebarInfoCard/SidebarInfoCard.tsx
  src/components/Guilds/EtherSWRManager/index.tsx
  src/components/Guilds/Filter/index.tsx
  src/components/Guilds/ProposalCard/ProposalCard.test.tsx
  src/components/Guilds/ProposalCard/index.tsx
  src/components/Guilds/ProposalPage/ProposalDescription/index.tsx
  src/components/Guilds/ProposalPage/ProposalInfoCard/index.tsx
  src/components/Guilds/ProposalPage/ProposalVoteCard/index.tsx
  src/components/Guilds/ProposalStatus/ProposalStatus.test.tsx
  src/components/Guilds/ProposalStatus/index.tsx
  src/components/Guilds/Sidebar/MemberActions.tsx
  src/components/Guilds/Sidebar/index.tsx
  src/components/Guilds/StakeTokensModal/StakeTokens.tsx
  src/components/Guilds/StakeTokensModal/index.tsx
  src/components/Guilds/Web3Modals/components/WalletInfoBox.tsx
  src/hooks/Guilds/ens/useENS.ts
  src/hooks/Guilds/ens/useENSAddress.ts
  src/hooks/Guilds/ens/useENSName.ts
  src/hooks/Guilds/ens/useENSRegistrar.ts
  src/hooks/Guilds/ens/useENSResolver.ts
  src/hooks/Guilds/ether-swr/ens/useAddressFromENSName.ts
  src/hooks/Guilds/ether-swr/ens/useENS.ts
  src/hooks/Guilds/ether-swr/ens/useENSAvatar.ts
  src/hooks/Guilds/ether-swr/ens/useENSNameFromAddress.ts
  src/hooks/Guilds/ether-swr/ens/useENSPublicResolver.ts
  src/hooks/Guilds/ether-swr/ens/useENSRegistry.ts
  src/hooks/Guilds/ether-swr/guild/useGuildConfig.ts
  src/hooks/Guilds/ether-swr/guild/useGuildProposalIds.ts
  src/hooks/Guilds/ether-swr/guild/useProposal.ts
  src/hooks/Guilds/ether-swr/guild/useVoterLockTimestamp.ts
  src/hooks/Guilds/ether-swr/guild/useVotingPowerOf.ts
  src/hooks/Guilds/ether-swr/nft/useERC1155NFT.ts
  src/hooks/Guilds/ether-swr/nft/useERC721NFT.ts
  src/hooks/Guilds/ether-swr/useGuildProposals.ts
  src/hooks/Guilds/ether-swr/useProposals.ts
  src/hooks/Guilds/nft/useERC1155NFT.ts
  src/hooks/Guilds/nft/useERC721NFT.ts
  src/hooks/Guilds/useVotes.ts
  src/pages/Guilds/Guilds.tsx
  src/pages/Guilds/Proposal.tsx
Labels: Bug, Enhancement, UI/UX Improvements, Guilds

#674 fix(src/pages/proposals): take in count Queued finished proposals as expired
  src/hooks/useFilterCriteria.ts
  src/pages/proposals/index.tsx
Labels: Bug
